<html>
<body>
    <div style="width:600px;margin:0 auto;border:5px solid #f3f3f3;min-height:200px">
        <div style="padding:15px;text-align:center;border-bottom:2px solid #f3f3f3;">
            <img alt="" src="##LOGOURL##/Documents/Attachments/logo.png" />
        </div>
        <div style="padding:15px;">
            <p>
                Hello ##USERNAME##,
            </p>
            <p>Your history has been closed.</p>
            <h4>
                History description is:
            </h4>
            <p>
                ##Description##
            </p>
            <h4>
                History solution is:
            </h4>
            <p>
                ##Resolution##
            </p>
            <p>
                Regards,<br />
                MalVirDetector
            </p>

        </div>
    </div>
</body>
</html>